{% extends 'layout.html' %}

{% block title %}Containers{% endblock %}

{% block content %}
<h2>Ports: {{ports|join(', ')}}</h2>
<h2>Running Containers</h2>
<ul>
    {% for id in running %}
    <li>
        <div class="container-info">
            <h2>Container: {{ running[id]['name'] }}</h2>
            <div class="container-buttons">
                <form action="/stop-container" method="post">
                    <button type="submit" name="stop" value="{{ running[id]['name'] }}">Stop</button>
                </form>
                             
                <button onclick="toggleHidden('command')">Execute Command</button>
                <div id="command" style="display: none;">
                    <form action="/exec" method="post">
                        <input type="text" name="command" placeholder="op minecraft-username">
                        <input class="hidden" name="container_name" value="{{ running[id]['name'] }}">
                        <button type="submit">Go!</button>
                    </form>
                </div>
            </div>
        </div>
        <h3>Server Adress: &gt;ip-adress&lt;:{{ running[id]['port'] }}</h3>
    </li>
    {% endfor %}
    
</ul>
<h2>All Containers</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" style="font-size: 24px; color: red; font-weight: bold;">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
<ul>
    {% for name in containers %}
    <li>
        <div class="container-info">
            <h2>Container: {{ name }}</h2>
            <div class="container-buttons">
                <form action="/start-container" method="post">
                    <button type="submit" name="start" value="{{ name }}">Start</button>
                </form>
                <form action="/reset" method="post" onsubmit="return confirmReset();">
                    <button type="submit" name="reset" value="{{ name }}">Reset World</button>
                </form>
                <form action="/remove" method="post" onsubmit="return confirmRemove();">
                    <button type="submit" name="remove" value="{{ name }}">Delete Server</button>
                </form>
                
            </div>
        </div>
        <h4>Status: {{containers[name]['status'] }}</h4>
            <h4 style="display: flex; align-items: center;">Port: {{ containers[name]['port'] }} 
            <button style="margin-left: 10px;" onclick="toggleHidden('{{name}}')">Change Port</button>
            <div id="{{name}}" style="display: none; margin-left: 10px;" >
                <form action="/change-port" method="post">
                    <select name="port" required>
                        <option value="{{first}}">{{first}}</option>
                        {% for i in range(first+1, last+1) %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <input class="hidden" name="container_name" value="{{name}}">
                    <button type="submit">Change!</button>
                </form>
            </div>
        </h4>
        <h4>Version: {{ containers[name]['version'] }}</h4>
        <h4>Memory: {{ containers[name]['memory'] }}</h4>
    </li>
    {% endfor %}
</ul>
{% endblock %}
