{% extends 'layout.html' %}

{% block title %}Containers{% endblock %}

{% block content %}
<h2>Used Ports: {{ports|join(', ')}}</h2>
<h2>Running Containers</h2>
<ul>
    {% for id in running %}
    <li>
        <div class="container-info">
            <h2>Container: {{ running[id]['name'] }}</h2>
            <div class="container-buttons">
                <form action="/stop-container" method="post">
                    <button type="submit" name="stop" value="{{ running[id]['name'] }}">Stop</button>
                </form>
            </div>
        </div>
        <h3>Port: {{ running[id]['port'] }}</h3>
    </li>
    {% endfor %}
    
</ul>
<h2>All Containers</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" style="font-size: 24px; color: red; font-weight: bold;">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}
<ul>
    {% for name in containers %}
    <li>
        <div class="container-info">
            <h2>Container: {{ name }}</h2>
            <div class="container-buttons">
                <form action="/start-container" method="post">
                    <button type="submit" name="start" value="{{ name }}">Start</button>
                </form>
            </div>
        </div>
        <h4>Status: {{containers[name]['status'] }}</h4>
        <h4>Port: {{ containers[name]['port'] }}</h4>
        <h4>Version: {{ containers[name]['version'] }}</h4>
        <h4>Memory: {{ containers[name]['memory'] }}</h4>
    </li>
    {% endfor %}
</ul>
{% endblock %}