<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/style.css">
                <link rel="icon" type="image/png" href="/static/favicon.png">  
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Docker Monitor</h1>
                <a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i>Dashboard</a>
				<a href="{{ url_for('create')}}"><i class="fas fa-plus"></i>New</a>
				<a href="{{ url_for('containers')}}"><i class="fas fa-user"></i>{{ session['username'] }}</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			<script src="static/functions.js"></script>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
